<a href="/recipes/new" class="btn btn-success pull-right">New Recipe</a>

<h1>All My Recipes</h1>

<% recipes.forEach(function(recipe) { %>
<div class="well">
  <h2><a href="/recipes/<%= recipe.id %>"><%= recipe.name %></a>
    <small><%= recipe.amount %></small>
  </h2>
  <a href="/recipes/<%= recipe.id %>/edit" class="btn btn-info glyphicon glyphicon-edit"></a>
  <a href="/recipes/<%= recipe.id %>" class="btn btn-danger glyphicon glyphicon-trash delete-btn"></a>
</div>
<% }); %>

<a href="/">&larr; Home</a>